## $report_title

Regression threshold: **$threshold_text**
$comparison_block$run_meta_block
$summary_section

$feature_sections$regressions_block$overrides_block$missing_block
$history_section

<!-- $history_marker_key: $history_payload -->
